<div class="page-header">
  <h1>Users</h1>
</div>
<dl class="dl-horizontal">
  <% @users.each do |user| %>
    <p>
      <dt>Name</dt>
      <dd><%= link_to user.name, user_path(user) %></dd>
      <dt>Email</dt>
      <dd><%= user.email %></dd>
      <dt>Role</dt>
      <dd><%= user.role %></dd>
      <dd>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-mini' %>
          <%= link_to 'Destroy', user_path(user), method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
      </dd>
    </p>
  <% end %>
</dl>

<%= link_to 'New user', new_user_path, :class => 'btn btn-primary' %>
