<%= form_for @order, :html => { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area input-xlarge', rows: '5' %>
    </div>
  </div>
  <% if can? :complete, Order %>
    <div class="control-group">
      <%= f.label :completion, class: 'control-label' %>
      <div class="controls">
        <%= f.check_box :completion, class: 'check_box' %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', orders_path, class: 'btn' %>
  </div>
<% end %>
