<div class="page-header">
  <h1>Orders</h1>
</div>
  <ul class="nav nav-pills">
    <li class="<%= 'active' if params[:list].blank? %>">
      <%= link_to 'All', orders_path %>
    </li>
    <li class="<%= 'active' if params[:list] == 'completed' %>">
      <a href="?list=completed">Completed</a>
    </li>
    <li class="<%= 'active' if params[:list] == 'uncompleted' %>">
      <a href="?list=uncompleted">Uncompleted</a>
    </li>
  </ul>
<dl class="dl-horizontal">
  <% @orders.each do |order| %>
    <p>
      <dt>Title</dt>
      <dd><%= order.title %></dd>
      <dt>Description</dt>
      <dd><%= order.description %></dd>
      <% if can? :manage, User %>
        <dt>Author</dt>
        <dd><%= link_to order.user.name, user_path(order.user) %></dd>
      <% end %>
      <dd>
        <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-mini' %>
        <% if can? :destroy, order %>
          <%= link_to 'Destroy', order_path(order), method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        <% end %>
      </dd>
    </p>
  <% end %>
</dl>

<%= link_to 'New order', new_order_path, :class => 'btn btn-primary' %>
